<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/assets/styles/style.css">
    <title>Document</title>
</head>

<body>
    <!-- login page -->
    <div class="m-container">
        <div class="m-intro-content">
            <div class="m-intro-context-text">
                <div class="m-intro-all-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi officiis id sunt eligendi, soluta quo! Molestias tenetur animi cupiditate dolorem sit repudiandae, quos sunt dolorum facere recusandae. A, rerum veritatis?</div>
            </div>
        </div>
        <div class="m-login-services">
            <div class="m-login-services-container">
                <div class="m-login-services-title">
                    <h1>LOGIN HERE</h1>
                </div>
                <form action="">
                    <input type="text" placeholder="email">
                    <input type="password" placeholder="password">
                    <input type="submit" value="Sign in">
                    <div class="m-for-pass">
                        <a href="#">Forgot password</a>
                    </div>
                    <div class="clear"></div>
                </form>
                <div class="m-warning">
                    <p>If you don't have an account you can on the link below this will help you to access the main page,thank you for visiting us</p>
                </div>
                <div class="m-link-reg">
                    <a href="#">Create an account</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End login page-->
</body>

</html>